article{
  border: 1px solid black;
  padding: 1vw;
  width: 30%;
}

article img{
  width:100%;
}

article h2{
  font-size: 3vw;
}

article .rightBtn{
  margin: 1vw;
  
}

.card{
  margin-bottom: 4%;
}